/* SIDEBAR */

.sidebar {
  flex: 1;
  padding: 32px;
}

/* DROPDOWN */

.dropdown-container {
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: black;
}

.dropdown-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: transparent;
}

.section-container {
  margin-top: -8px;
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: white;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  justify-content: space-between;
}

.section-container:hover {
  font-weight: 600;
  color: black;
}

.section-button {
  background-color: white;
  border: 2px solid rgb(255, 255, 255);
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
}

/* FORM */

.hidden {
  display: none;
}

.form {
  margin-top: -8px;
  padding: 32px;
  background-color: white;
  border-radius: 0px 0px 8px 8px;
}

.form-datafield {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-bottom: 16px;
}

.form-datafield-label {
  font-size: 0.8rem;
  font-weight: 600;
}

.hide {
  display: none;
}
